.homepage {
background-color: #FF0000;
border-style: solid;
border-width: 4px;
border-color: #FF0000;
}
.avatar {
width: 100%;
height: auto;
}
.avatarbox {
width: 25%;
display: block;
}
.updates {
width: 75%;
height: 30%;
display: block;
}
.update_scroll {
overflow-y: hidden;
height: 70%;
}
