html, body {
background-color: #000;
color: #FFF;
}

* {
font-family: serif;
}

#main-header {
text-align: center;
}
.footer {
text-align: center;
}

.navbuttons {
background-color: #000;
color: #FFF;
border: 2px;
width: 80px;
height: 80px;
}
button:hover {
border: 2px;
border-color: #FFF;
border-style: outset;
}
button:active {
border: 2px;
border-color: #8E8E8E;
border-style: inset;
}

.main-content {
width: 50%;
height: auto;
margin: auto;
}

a:link {
font-style: italic;
}

a:visited {
color: #0000EE;
}
